In [1]:
# Sample data set

In [3]:
import pandas as pd
import numpy as np

In [197]:
np.random.randn(100) * 100

array([-154.75261393,   88.10415276,  -27.02619362,  -62.38420781,
        207.60125871,  -54.5971419 ,   59.7592333 ,   66.39017733,
        170.31097444,  -53.92977673,  -42.81251321,   48.23936978,
          3.09423633,  -40.76538398,   64.62777373,  -16.72581051,
        192.4580214 ,   70.57121928,  -48.23455373,  232.15604867,
        140.59916269,  -96.30907798,   15.19783691,   63.39219305,
        -44.21924468,   76.95544295, -108.71193669,  -37.07222943,
        -36.8609713 ,  -64.46681008,   66.8995653 , -116.11517918,
       -166.93385173,   22.6295865 ,   10.68190205,  -86.85692671,
        -73.87703143, -135.6311631 , -167.51886899,  -25.18221451,
        -35.91808289,   57.69610254,  -90.77327477,   50.73503394,
        118.31780903,  -52.9292715 , -204.34072127,   35.6617242 ,
        341.24946082,   59.85678884,  127.34085023, -158.50821911,
       -142.97060586,    0.53307951,  -68.24710458,  -28.8069398 ,
         46.76303358,   36.25047453,    3.12704932,   77.48642886,
       -212.58855427,   87.34346071,  -96.57967196,  121.47453845,
        -61.7524781 ,  -84.80140207,   95.97777174,   19.16619129,
        126.81069724,  146.74463422,   35.44528018,   60.03739963,
         66.4564325 , -147.75952058,  109.17400756,   80.0223814 ,
         27.85541989, -149.30678718,  138.02203293, -143.1768639 ,
         -6.70787394,  -15.94022298,   -7.56561875,  -28.28794014,
        -42.06606962, -113.33072335,  122.46529296,  -35.45035276,
         20.01499815,  227.31329594,  131.715933  ,  129.04583933,
        142.38087886,  -59.91818891,   20.7840485 , -114.01402404,
         92.11153966,  -12.0200727 , -113.12273736, -150.77133148])

In [187]:
cluster_id = np.random.choice(5, 100)

In [198]:
df = pd.DataFrame([np.random.randn(100) * 100, np.random.randn(100) * 100, np.random.randn(100) * 100, cluster_id])

In [199]:
df = df.T

In [200]:
df.columns=['x','y','z','cid']

In [201]:
df.head()

            x           y           z  cid
0 -164.013638  -46.173156 -195.543069    2
1  201.258384  -83.569181  -90.638183    1
2   38.777638   52.321205   94.826657    2
3   44.874468  -92.993127  -41.805962    1
4   28.777661  151.573230   -1.212601    3

In [202]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 99
Data columns (total 4 columns):
x      100 non-null float64
y      100 non-null float64
z      100 non-null float64
cid    100 non-null float64
dtypes: float64(4)
memory usage: 3.9 KB

In [203]:
df.to_json('sample_data.json')

In [204]:
! ls

data_generator.ipynb sample_data.json